.impc-tags {
  --tag-bg: #17a2b8;
  --tag-hover: #138496;
  --tag-text-color: #fff;
  --tags-border-color: silver;
  --tag-text-color--edit: #111;
  --tag-remove-bg: #dc3545;
  --tag-inset-shadow-size: 1.3em;
  --tag-remove-btn-bg--hover: black;

  display: inline-block;
  min-width: 0;
  border: none;
}

.impc-tags .tagify__tag > div {
  border-radius: 10px;
}
